<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="paper-finder-sit">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `paper-finder-sit`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaperFinderSit extends Polymer.Element {
      static get is() { return 'paper-finder-sit'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'paper-finder-sit'
          }
        };
      }
    }

    window.customElements.define(PaperFinderSit.is, PaperFinderSit);
  </script>
</dom-module>
