<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="paper-finder-sit">
  <template>
    <style>

      .container-icons {
        display: flex;
        flex-direction: row;
        width: 5rem;
      }

      .image {
        width: 10rem;
        height: 10rem;
      }

      .class {
        font-size: 18px;
      }

      .icons {
        margin-left: 3px;
        margin-right: 3px;
        
      }

      .refresh {
        text-align: center;
        cursor: pointer;
      }

      .main-container {
        display: flex;
        flex-direction: row;
      }

      p{
        margin-top: 2px;
        text-align: center;
      }
    </style>
    <template is="dom-if" if="[[content]]">
      <h2>Results for: [[title]]</h2>
      <div class="main">
        <template is="dom-repeat" items="[[content]]" as="element">
          <!-- <template is="dom-if" if="{{_match(element)}}"> -->
            <div class="main-container">
             <div class="container-image">
              <div>
                <img class="image" src$="[[element.img_url]]">
              </div>
            </div>

            <div class="container-details">
              <div class="container-description">
                <div>
                  <h3>[[element.title]]</h3>
                </div>
                <div class="description">
                  <p>[[element.text]]</p>
                  <p>likes = [[element.like]]</p>
                </div>
              </div>

              <!-- <template id="dom-if" if="[[element.icons]]"> -->
                <div class="container-icons">
                  <template is="dom-repeat" items="[[element.icons]]" as="icon">
                      <div class="icons">
                        <iron-icon icon="[[icon.name]]" on-click="_iconClicked" event$="[[icon.event]]"></iron-icon>
                        <p>[[icon.amount]]</p>
                      </div>
                  </template>
                </div>
              <!-- </template> -->
            </div>
          </div>
          <!-- </template> -->
        </template>
        <div class="refresh">
          <iron-icon icon="icons:refresh" on-click="_refresh"></iron-icon>
        </div>
      </div>
    </template>
  </template>

  <script>
    class PaperFinderSit extends Polymer.Element {
      static get is() {
        return 'paper-finder-sit';
      }
      static get properties() {
        return {
          title: {
            type: String
          },
          content: {
            type: Array
          }
        };
      };
      _match(title, element) {
        if (element.title.includes(this.title)) return true;
        return false;
      }

      _refresh() {
        location.reload();
      }

      _iconClicked(e){
        const EventNfame = e.target.getAttribute('event');
        const event = new CustomEvent(EventName, {
          bubbles : true,
          composed : true,
          detail : {
            data : `Event catched!! : ${EventName}`
          }
        });
        this.dispatchEvent(event); 
      }

      _match(element){
        
        let titleUppercase = this.title.toUpperCase();
        let searchUppercase = element.title.toUpperCase()
        if(searchUppercase.includes(titleUppercase)) return true;
        return false;
      }
    }

    window.customElements.define(PaperFinderSit.is, PaperFinderSit);
  </script>
</dom-module>
